<!--
  Generated template for the Pedido page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ segment_title }}</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary" no-border-bottom>
    <ion-segment [(ngModel)]="type" (ionChange)="changeSegment()">
      <ion-segment-button value="statement">
        <ion-icon name="stats"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="charges">
        <ion-icon name="cash"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="deposits">
        <ion-icon name="paper"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <ion-segment *ngIf="type == 'charges'" [(ngModel)]="cobfas" (ionChange)="changeCobfas()" color="primary" no-border-top>
    <ion-segment-button value="open">
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="closed">
      <ion-icon name="checkmark"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="printed">
      <ion-icon name="print"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="synced">
      <ion-icon name="cloud-done"></ion-icon>
    </ion-segment-button>
  </ion-segment>


  <ion-segment *ngIf="type == 'deposits'" [(ngModel)]="depfas" (ionChange)="changeCobfas()" color="primary" no-border-top>
    <ion-segment-button value="open">
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="closed">
      <ion-icon name="checkmark"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="printed">
      <ion-icon name="print"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="synced">
      <ion-icon name="cloud-done"></ion-icon>
    </ion-segment-button>
  </ion-segment>


</ion-header>


<ion-content class="background">

  <div [ngSwitch]="type">

    <div *ngSwitchCase="'statement'">

      <ion-list class="custom-padding">

        <ion-item>

          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <h2 text-wrap class="p_bold_text">
            {{"charges.client"|translate}}
          </h2>
          <p item-right>{{account_state.codcli}}</p>

        </ion-item>
        <ion-item>

          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <h2 text-wrap class="p_bold_text">
            {{"charges.credit_limit"|translate}}
          </h2>
          <p item-right>{{account_state.limcre | number:'1.2-2'}} Bs.</p>

        </ion-item>
        <ion-item>

          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <h2 text-wrap class="p_bold_text">
            {{"charges.overdue_invoices"|translate}}
          </h2>
          <p item-right>{{account_state.facven}}</p>

        </ion-item>
        <ion-item>

          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <h2 text-wrap class="p_bold_text">
            {{"charges.overdue_invoices_total"|translate}}
          </h2>
          <p item-right>{{account_state.totven | number:'1.2-2'}} Bs.</p>

        </ion-item>
        <ion-item>

          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <h2 text-wrap class="p_bold_text">
            {{"charges.unfinished_invoices"|translate}}
          </h2>
          <p item-right>{{account_state.facnve}}</p>

        </ion-item>
        <ion-item>

          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <h2 text-wrap class="p_bold_text">
            {{"charges.unfinished_invoices_total"|translate}}
          </h2>
          <p item-right>{{account_state.totnve | number:'1.2-2'}} Bs.</p>

        </ion-item>
        <ion-item>

          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <h2 text-wrap class="p_bold_text">
            {{"charges.available_credit"|translate}}
          </h2>
          <p item-right>{{account_state.credis | number:'1.2-2' }} Bs.</p>

        </ion-item>
        <ion-item>

          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <h2 text-wrap class="p_bold_text">
            {{"charges.charge"|translate}}
          </h2>
          <p item-right>{{account_state.cobran}}</p>

        </ion-item>

        <ion-item>

          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <h2 text-wrap class="p_bold_text">
            {{"charges.charged_amount"|translate}}
          </h2>
          <p item-right>{{invoices_amount | number:'1.2-2'}}</p>

        </ion-item>

      </ion-list>

    </div>

    <div *ngSwitchCase="'deposits'">
      <div [ngSwitch]="depfas">
        <div *ngSwitchCase="'open'">
          <ion-list>
            <ion-item *ngIf="open_depositos.length == 0" class="background Absolute-Center">

              <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
              <!--<br /><br /><br /><br /><br /><br />-->
              <ion-thumbnail>
                <img class="center-image" src="assets/img/clipboard-papers.png">
              </ion-thumbnail>
              <br />
              <br />
              <p class="p_big_text" text-center>
                {{"deposits.no_open_deposits"|translate}}
              </p>

            </ion-item>

            <ion-card *ngFor="let deposito of open_depositos; let i = index">
              <ion-item-sliding>

                <ion-item detail-push (click)="goToExistingDeposit(deposito)">
                  <ion-icon name="cash" item-left></ion-icon>
                  <h2 class="p_bold_text">{{ deposito.depnum }}</h2>
                  <h2 class="p_text">{{ deposito.numref }}</h2>
                  <p>{{ deposito.depfec }}</p>
                  <p item-right color="secondary">{{"main_order.open"|translate}}</p>
                  <!--<ion-icon *ngIf="pedido.ispdv == 'true'" name="thumbs-up" color="secondary"></ion-icon>
                        <ion-icon *ngIf="pedido.ispdv == 'false'" name="thumbs-down" color="danger"></ion-icon>-->
                </ion-item>

                <ion-item-options side="right" icon-left>
                  <button ion-button color="danger" (click)="openRemoveDepositConfirmation(deposito)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
          </ion-list>
        </div>
        <div *ngSwitchCase="'closed'">
          <ion-list>
            <ion-item *ngIf="closed_depositos.length == 0" class="background Absolute-Center">

              <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
              <!--<br /><br /><br /><br /><br /><br />-->
              <ion-thumbnail>
                <img class="center-image" src="assets/img/clipboard-papers.png">
              </ion-thumbnail>
              <br />
              <br />
              <p class="p_big_text" text-center>
                {{"deposits.no_closed_deposits"|translate}}
              </p>

            </ion-item>

            <ion-card *ngFor="let deposito of closed_depositos; let i = index">
              <ion-item-sliding>

                <ion-item detail-push>
                  <ion-icon name="cash" item-left></ion-icon>
                  <h2 class="p_bold_text">{{ deposito.depnum }}</h2>
                  <h2 class="p_text">{{ deposito.numref }}</h2>
                  <p>{{ deposito.depfec }}</p>
                  <p item-right color="secondary">{{"main_order.closed"|translate}}</p>
                  <!--<ion-icon *ngIf="pedido.ispdv == 'true'" name="thumbs-up" color="secondary"></ion-icon>
                        <ion-icon *ngIf="pedido.ispdv == 'false'" name="thumbs-down" color="danger"></ion-icon>-->
                </ion-item>

                <ion-item-options side="right" icon-left>
                  <button ion-button color="danger" (click)="openDeleteConfirmation(pedido)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
          </ion-list>
        </div>
        <div *ngSwitchCase="'printed'">
          <ion-list>
            <ion-item *ngIf="printed_depositos.length == 0" class="background Absolute-Center">

              <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
              <!--<br /><br /><br /><br /><br /><br />-->
              <ion-thumbnail>
                <img class="center-image" src="assets/img/clipboard-papers.png">
              </ion-thumbnail>
              <br />
              <br />
              <p class="p_big_text" text-center>
                {{"deposits.no_printed_deposits"|translate}}
              </p>

            </ion-item>

            <ion-card *ngFor="let deposito of printed_depositos; let i = index">
              <ion-item-sliding>

                <ion-item detail-push>
                  <ion-icon name="cash" item-left></ion-icon>
                  <h2 class="p_bold_text">{{ deposito.depnum }}</h2>
                  <h2 class="p_text">{{ deposito.numref }}</h2>
                  <p>{{ deposito.depfec }}</p>
                  <p item-right color="secondary">{{"main_order.printed"|translate}}</p>
                  <!--<ion-icon *ngIf="pedido.ispdv == 'true'" name="thumbs-up" color="secondary"></ion-icon>
                        <ion-icon *ngIf="pedido.ispdv == 'false'" name="thumbs-down" color="danger"></ion-icon>-->
                </ion-item>

                <ion-item-options side="right" icon-left>
                  <button ion-button color="danger" (click)="openDeleteConfirmation(pedido)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
          </ion-list>
        </div>
        <div *ngSwitchCase="'synced'">
          <ion-list>
            <ion-item *ngIf="synced_depositos.length == 0" class="background Absolute-Center">

              <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
              <!--<br /><br /><br /><br /><br /><br />-->
              <ion-thumbnail>
                <img class="center-image" src="assets/img/clipboard-papers.png">
              </ion-thumbnail>
              <br />
              <br />
              <p class="p_big_text" text-center>
                {{"deposits.no_synced_deposits"|translate}}
              </p>

            </ion-item>

            <ion-card *ngFor="let deposito of synced_depositos; let i = index">
              <ion-item-sliding>

                <ion-item detail-push>
                  <ion-icon name="cash" item-left></ion-icon>
                  <h2 class="p_bold_text">{{ deposito.depnum }}</h2>
                  <h2 class="p_text">{{ deposito.numref }}</h2>
                  <p>{{ deposito.depfec }}</p>
                  <p item-right color="secondary">{{"main_order.synced"|translate}}</p>
                  <!--<ion-icon *ngIf="pedido.ispdv == 'true'" name="thumbs-up" color="secondary"></ion-icon>
                        <ion-icon *ngIf="pedido.ispdv == 'false'" name="thumbs-down" color="danger"></ion-icon>-->
                </ion-item>

                <ion-item-options side="right" icon-left>

                  <button ion-button color="danger" (click)="openDeleteConfirmation(cobranza)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
          </ion-list>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'charges'">
      <div [ngSwitch]="cobfas">
        <div *ngSwitchCase="'open'">
          <ion-list>
            <ion-item *ngIf="open_cobranzas.length == 0" class="background Absolute-Center">

              <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
              <!--<br /><br /><br /><br /><br /><br />-->
              <ion-thumbnail>
                <img class="center-image" src="assets/img/clipboard-papers.png">
              </ion-thumbnail>
              <br />
              <br />
              <p class="p_big_text" text-center>
                {{"charges.no_open_charges"|translate}}
              </p>

            </ion-item>

            <ion-card *ngFor="let cobranza of open_cobranzas; let i = index">
              <ion-item-sliding>

                <ion-item detail-push (click)="goToExistingCharge(cobranza)">
                  <ion-icon name="cash" item-left></ion-icon>
                  <h2 class="p_bold_text">{{ cobranza.cobnum }}</h2>
                  <h2 class="p_text">{{ cobranza.montco | number:'1.2-2' }} {{ cobranza.divisa }}</h2>
                  <!--<h2 class="p_text" [ngSwitch]="cobranza.metpag">
                        <span *ngSwitchCase="0">Efectivo</span>
                        <span *ngSwitchCase="1">Transferencia</span>
                        <span *ngSwitchCase="2">Cheque</span>
                        <span *ngSwitchCase="3">Deposito</span>
                      </h2>-->
                  <p>{{ cobranza.fechcr }}</p>
                  <p item-right color="secondary">{{"main_order.open"|translate}}</p>
                  <!--<ion-icon *ngIf="pedido.ispdv == 'true'" name="thumbs-up" color="secondary"></ion-icon>
                      <ion-icon *ngIf="pedido.ispdv == 'false'" name="thumbs-down" color="danger"></ion-icon>-->
                </ion-item>

                <ion-item-options side="right" icon-left>
                  <button ion-button color="danger" (click)="openRemoveChargeConfirmation(cobranza)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
          </ion-list>
        </div>
        <div *ngSwitchCase="'closed'">
          <ion-list>
            <ion-item *ngIf="closed_cobranzas.length == 0" class="background Absolute-Center">

              <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
              <!--<br /><br /><br /><br /><br /><br />-->
              <ion-thumbnail>
                <img class="center-image" src="assets/img/clipboard-papers.png">
              </ion-thumbnail>
              <br />
              <br />
              <p class="p_big_text" text-center>
                {{"charges.no_closed_charges"|translate}}
              </p>

            </ion-item>

            <ion-card *ngFor="let cobranza of closed_cobranzas; let i = index">
              <ion-item-sliding>

                <ion-item detail-push (click)="goToClosedCharge(cobranza)">
                  <ion-icon name="cash" item-left></ion-icon>
                  <h2 class="p_bold_text">{{ cobranza.cobnum }}</h2>
                  <h2 class="p_text">{{ cobranza.montco | number:'1.2-2' }} {{ cobranza.divisa }}</h2>
                  <!--<h2 class="p_text" [ngSwitch]="cobranza.metpag">
                        <span *ngSwitchCase="0">Efectivo</span>
                        <span *ngSwitchCase="1">Transferencia</span>
                        <span *ngSwitchCase="2">Cheque</span>
                        <span *ngSwitchCase="3">Deposito</span>
                      </h2>-->
                  <p>{{ cobranza.fechcr }}</p>
                  <p item-right color="secondary">{{"main_order.closed"|translate}}</p>
                  <!--<ion-icon *ngIf="pedido.ispdv == 'true'" name="thumbs-up" color="secondary"></ion-icon>
                      <ion-icon *ngIf="pedido.ispdv == 'false'" name="thumbs-down" color="danger"></ion-icon>-->
                </ion-item>

                <ion-item-options side="right" icon-left>
                  <button ion-button color="danger" (click)="openRemoveChargeConfirmation(cobranza)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
          </ion-list>
        </div>
        <div *ngSwitchCase="'printed'">
          <ion-list>
            <ion-item *ngIf="printed_cobranzas.length == 0" class="background Absolute-Center">

              <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
              <!--<br /><br /><br /><br /><br /><br />-->
              <ion-thumbnail>
                <img class="center-image" src="assets/img/clipboard-papers.png">
              </ion-thumbnail>
              <br />
              <br />
              <p class="p_big_text" text-center>
                {{"charges.no_printed_charges"|translate}}
              </p>

            </ion-item>

            <ion-card *ngFor="let cobranza of printed_cobranzas; let i = index">
              <ion-item-sliding>

                <ion-item detail-push (click)="goToSyncedPrintedCharge(cobranza)">
                  <ion-icon name="cash" item-left></ion-icon>
                  <h2 class="p_bold_text">{{ cobranza.cobnum }}</h2>
                  <h2 class="p_text">{{ cobranza.montco | number:'1.2-2' }} {{ cobranza.divisa }}</h2>
                  <!--<h2 class="p_text" [ngSwitch]="cobranza.metpag">
                        <span *ngSwitchCase="0">Efectivo</span>
                        <span *ngSwitchCase="1">Transferencia</span>
                        <span *ngSwitchCase="2">Cheque</span>
                        <span *ngSwitchCase="3">Deposito</span>
                      </h2>-->
                  <p>{{ cobranza.fechcr }}</p>
                  <p item-right color="secondary">{{"main_order.printed"|translate}}</p>
                  <!--<ion-icon *ngIf="pedido.ispdv == 'true'" name="thumbs-up" color="secondary"></ion-icon>
                      <ion-icon *ngIf="pedido.ispdv == 'false'" name="thumbs-down" color="danger"></ion-icon>-->
                </ion-item>

                <ion-item-options side="right" icon-left>
                  <button ion-button color="danger" (click)="openRemoveChargeConfirmation(cobranza)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
          </ion-list>
        </div>
        <div *ngSwitchCase="'synced'">
          <ion-list>
            <ion-item *ngIf="synced_cobranzas.length == 0" class="background Absolute-Center">

              <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
              <!--<br /><br /><br /><br /><br /><br />-->
              <ion-thumbnail>
                <img class="center-image" src="assets/img/clipboard-papers.png">
              </ion-thumbnail>
              <br />
              <br />
              <p class="p_big_text" text-center>
                {{"charges.no_synced_charges"|translate}}
              </p>

            </ion-item>

            <ion-card *ngFor="let cobranza of synced_cobranzas; let i = index">
              <ion-item-sliding>

                <ion-item detail-push (click)="goToSyncedPrintedCharge(cobranza)">
                  <ion-icon name="cash" item-left></ion-icon>
                  <h2 class="p_bold_text">{{ cobranza.cobnum }}</h2>
                  <h2 class="p_text">{{ cobranza.montco | number:'1.2-2' }} {{ cobranza.divisa }}</h2>
                  <!--<h2 class="p_text" [ngSwitch]="cobranza.metpag">
                        <span *ngSwitchCase="0">Efectivo</span>
                        <span *ngSwitchCase="1">Transferencia</span>
                        <span *ngSwitchCase="2">Cheque</span>
                        <span *ngSwitchCase="3">Deposito</span>
                      </h2>-->
                  <p>{{ cobranza.fechcr }}</p>
                  <p item-right color="secondary">{{"main_order.synced"|translate}}</p>
                  <!--<ion-icon *ngIf="pedido.ispdv == 'true'" name="thumbs-up" color="secondary"></ion-icon>
                      <ion-icon *ngIf="pedido.ispdv == 'false'" name="thumbs-down" color="danger"></ion-icon>-->
                </ion-item>

                <ion-item-options side="right" icon-left>

                </ion-item-options>
              </ion-item-sliding>
            </ion-card>
          </ion-list>
        </div>
      </div>
    </div>

  </div>

  <!--<ion-fab bottom right>
      <button *ngIf="type == 'invoices'" (click)="makeCharge()" ion-fab color="secondary"><ion-icon name="cash"></ion-icon></button>
  </ion-fab>-->

  <!--<ion-footer *ngIf="type == 'charges'">-->
  <!--<ion-toolbar *ngIf="type == 'charges'">-->
  <!--</ion-toolbar>-->
  <!--</ion-footer>-->
  <ion-fab bottom right>
    <button *ngIf="cobfas == 'open' && type == 'charges'" (click)="goToCharge()" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
    <!--<button ion-fab ion-fab color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="goToCharge()">
        <ion-icon name="md-bookmark"></ion-icon>
      </button>
      <button ion-fab (click)="goToCharges()">
        <ion-icon name="md-bookmarks"></ion-icon>
      </button>      
    </ion-fab-list>-->
  </ion-fab>

  <ion-fab bottom right>
    <button *ngIf="depfas == 'open' && type == 'deposits'" (click)="goToDeposit()" ion-fab color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>