// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

  .list {
    margin-bottom: 0;
  }

  .messageDanger {
    color: red;
  }

  .login-gray {
    background-color: #f7f7f7;
    font-family: "Helvetica Neue",Arial,"Droid Sans",sans-serif;
  }
}