page-home {
    p {
        font-weight: bold;
        font-size: 1.3em;
    }

    .background{

        background-color: #ededed;

    }

    .background-no-menu{

        background-color: #69c7b5;

    }        

    .grid-full ion-row {
      height: 100%;
      padding: 0;
      flex-wrap: wrap;
    }

    .grid-full ion-col {
      flex: 1 1 50%;
      //max-width: 50%;
      text-align: center;
      //vertical-align: middle;
      
      padding: 0;
    }

    .cell-0 {
      background-color: #26B99A;
    }
    .cell-1 {
      background-color: #69c7b5;
    }
    .cell-2 {
      background-color: #0e83a6;
    }
    .cell-3 {
      background-color: #48a3b8;
    }
    .cell-4 {
      background-color: #FF8A80;
    }

    .Absolute-Center {
      width: 100%;
      height: 100%;
      //overflow: auto;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    .center-image{
      margin:0 auto;
      max-width: 120px !important;
      max-height: 120px !important;
    }

    .p_big_text{

        font-size: 1.3em;
        color: #FFFFFF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }

    .p_bigger_text{

        font-size: 2.5em;
        color: #FFFFFF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }
}