<!--
  Generated template for the Cobranza page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>  

  <ion-navbar color="primary">
    <ion-title>{{"charges.title"|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">

  <ion-list class="custom-padding" no-margin>

    <ion-list-header class="p_bold_text" no-margin>
      {{"charges.process_charge"|translate}}
    </ion-list-header>

    <ion-item>
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.charge_amount"|translate}}</ion-label>
      <ion-input color="primary_light" [(ngModel)]="montco_ui" type="number"></ion-input>
    </ion-item>

    <ion-item>
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.payment_method"|translate}}</ion-label>
        <ion-select color="primary_light" [(ngModel)]="charge.metpag">
          <ion-option value="0">{{"charges.cash"|translate}}</ion-option>
          <ion-option value="1">{{"charges.transfer"|translate}}</ion-option>
          <ion-option value="2">{{"charges.check"|translate}}</ion-option>
          <ion-option value="3">{{"charges.deposit"|translate}}</ion-option>
        </ion-select>
      </ion-item>

      <!--CASH CONTROL-->
      <!--<ion-grid *ngIf="charge.metpag == 0">

        <ion-row>
          <button ion-button color="secondary" small outline (click)="addCashie()">
            {{"common.add"|translate}} {{"charges.denomination"|translate}}
          </button>
        </ion-row>
        
        <ion-row *ngFor="let cashie of cash_control; let i = index">

          <ion-col width-40>
            
            <ion-label stacked>{{"common.quantity"|translate}}</ion-label>
            <ion-input color="primary_light" [(ngModel)]="cashie.quantity" type="number" step="1"></ion-input>
          </ion-col>

          <ion-col width-40>
            
            <ion-label stacked>{{"common.denomination"|translate}}</ion-label>
            <ion-select color="primary_light" [(ngModel)]="cashie.name" (ionChange)="validateCachie(cashie.name, i)">
              <ion-option *ngFor="let denomination of cash_denomination" [value]="denomination">{{ denomination }}</ion-option>
            </ion-select>
          </ion-col>

          <ion-col width-20>
            <button ion-button color="danger" icon-start clear small (click)="deleteCashie(i)">
              <ion-icon name="trash"></ion-icon>
              <div>  {{"common.delete"|translate}}</div>
            </button>
          </ion-col>

        </ion-row>
         
      </ion-grid>-->
      
      <!--CASH CONTROL-->
  
      <ion-item *ngIf="charge.metpag == 1 || charge.metpag == 3">
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.bank"|translate}}</ion-label>
        <ion-select color="primary_light" [(ngModel)]="charge.codban">
          <ion-option *ngFor="let bank of bank_list" [value]="bank.codban">{{bank.desban + bank.numcue.substring(10)}}</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-item *ngIf="charge.metpag == 2">
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.bank"|translate}}</ion-label>
        <ion-select color="primary_light" [(ngModel)]="charge.codban">
          <ion-option *ngFor="let bank of check_bank_list" [value]="bank.nomban">{{bank.nomban}}</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-item *ngIf="charge.metpag == 1 || charge.metpag == 3">
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.reference"|translate}}</ion-label>
        <ion-input color="primary_light" [(ngModel)]="charge.referc" type="number"></ion-input>
      </ion-item>
  
      <ion-item *ngIf="charge.metpag == 2">
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.check_a_number"|translate}}</ion-label>
        <ion-input color="primary_light" [(ngModel)]="charge.ctachq" type="number"></ion-input>
      </ion-item>
  
      <ion-item *ngIf="charge.metpag == 2">
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.check_number"|translate}}</ion-label>
        <ion-input color="primary_light" [(ngModel)]="charge.numchq" type="number"></ion-input>
      </ion-item>
  
      <ion-item *ngIf="charge.divisa">
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.badge"|translate}}</ion-label>
        <ion-select color="primary_light" [(ngModel)]="charge.divisa" (ionChange)="changeDivisa()">
          <ion-option *ngFor="let currency of currencies" [value]="currency.coddiv">{{currency.coddiv}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.special_taxpayer"|translate}}</ion-label>
        <ion-checkbox item-right [(ngModel)]="account_state.cntesp" color="primary" (ionChange)="changeDivisa()"></ion-checkbox>
      </ion-item>

    <!--<ion-item *ngIf="account_state.cntesp">
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-badge class="badge_small_text" color="secondary">{{"charges.special_taxpayer"|translate}}</ion-badge>
    </ion-item>-->

    <ion-item *ngIf="charge.metpag == 1 || charge.metpag == 3">
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"common.date"|translate}}</ion-label>
      <ion-datetime doneText="{{'common.acept'|translate}}" cancelText="{{'common.cancel'|translate}}"
        displayFormat="DD MMMM YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="date_1_3" max={{max_date}}
        required></ion-datetime>
    </ion-item>


    <!--<ion-item *ngIf="account_state.cntesp">
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.document_number"|translate}}</ion-label>
      <ion-input color="primary_light" [(ngModel)]="charge.document_number" type="number"></ion-input>
    </ion-item>

    <ion-item *ngIf="account_state.cntesp">
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.retention_amount"|translate}}</ion-label>
      <ion-input color="primary_light" [(ngModel)]="charge.retention_amount" type="number"></ion-input>
    </ion-item>-->

  </ion-list>

  <ion-list class="custom-padding" no-margin *ngIf="available_invoices.length > 0">
    <ion-list-header class="p_bold_text" no-margin>
      {{"charges.invoices_to_charge"|translate}}
    </ion-list-header>


    <ion-item *ngFor="let invoice of available_invoices; let i = index">

      <!--<ion-item>-->

      <ion-label no-padding no-margin>
        <ion-item no-lines no-padding no-margin>
          <ion-icon color="secondary" name="list-box" item-left></ion-icon>
          <h2 class="p_bold_text">{{ invoice.facnum }}</h2>
          <h2 class="p_text">{{ invoice.salfac | number:'1.2-2' }} {{ invoice.coddiv }}</h2>
          <h2 class="p_text">{{ invoice.ivafac | number:'1.2-2' }}</h2>
          <h2 class="p_text">{{"charges.remaining_to_charge"|translate}} {{ invoice.diff | number:'1.2-2' }}</h2>
          <h2 class="p_text">{{ invoice.diasve }} {{"charges.days"|translate}}</h2>
          <p>{{ invoice.fecfac }}</p>
        </ion-item>
      </ion-label>
      <ion-checkbox item-right [(ngModel)]="invoice.seleccionada" color="primary" (ionChange)="changeInvoiceChecked(invoice)"></ion-checkbox>

      <!--</ion-item>-->

      <!--<ion-item item-right>

          

        </ion-item>-->

    </ion-item>
  </ion-list>
 

</ion-content>


<ion-footer>

    <ion-fab center top edge>
      <button (click)="makeCharge()" [disabled]="deshabilitar_cerrar" ion-fab color="secondary">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-fab>

    <ion-item padding-top>

      <ion-row>
        <ion-col>
          <p class="p_big_text" text-center color="primary_light">{{ invoices_count }}</p>
          <p text-center color="primary">{{"common.invoices"|translate}}</p>
        </ion-col>
        <ion-col>
          <p class="p_big_text" text-center color="primary_light">{{ invoices_amount | number:'1.2-2'}} {{charge.divisa}}</p>
          <p text-center color="primary">{{"common.total"|translate}}</p>
        </ion-col>
      </ion-row>

    </ion-item>

  </ion-footer>