<!--
  Generated template for the CestaClosed page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Pedido</ion-title>      
  </ion-navbar>

</ion-header>


<ion-content class="background">

  <ion-fab top right edge>
      <button (click)="printOrderSelectPrinter($event)" ion-fab mini color="secondary"><ion-icon name="print"></ion-icon></button>
  </ion-fab>  

  <ion-card>
    
    <ion-item>  
      <ion-avatar item-left class="avatar_bg">
        <h1 class="avatar_text_bg">{{ nombre_cliente[0] }}</h1>
      </ion-avatar>
      <ion-icon [ngStyle]="{'color':primary_light}" name="person" item-left></ion-icon>
      <h2 text-wrap class="p_bold_text">
        {{ nombre_cliente }}        
      </h2>
      <p>codigo: {{ codigo_cliente }}</p>
    </ion-item>  
      
  </ion-card>

  
  <ion-card>
    <ion-list>          

      <ion-item class="item_background">
        <ion-row>
            <ion-col col-2><p class="p_white_text">Cantidad</p></ion-col>
            <ion-col col-8 text-center><p class="p_white_text">Descripcion</p></ion-col>
            <ion-col col-2><p class="p_white_text">Precio</p></ion-col>
        </ion-row>     
      </ion-item>

      <ion-item *ngIf="productos_escogidos.length == 0"> 
        <p>Pedido Vacio</p>
      </ion-item>  

      <ion-item-sliding *ngFor="let producto of productos_escogidos; let i = index">
              
          <ion-item>
            <ion-row>
                      
                <ion-col col-3 text-center><p class="p_italic_text">{{ producto.pedcan }} {{ producto.coduni }}</p></ion-col>
                <ion-col col-6 text-wrap text-center><p class="p_italic_text">{{ producto.descar }}</p></ion-col>
                <ion-col col-3 text-right><p class="p_italic_text">{{ producto.pedprt | number:'1.2-2'}}</p></ion-col>                  

            </ion-row>    
          </ion-item>

          <ion-item-options side="right" icon-left>
            <button ion-button color="warning" (click)="editProduct(producto)">
                <ion-icon name="create"></ion-icon>                  
            </button>
            <button ion-button color="danger" (click)="openDeleteConfirmation(producto)">
                <ion-icon name="trash"></ion-icon>                  
            </button>            
          </ion-item-options>        
                  
      </ion-item-sliding>  

    </ion-list>

  </ion-card>    

</ion-content>

<ion-footer> 

    <ion-item padding-top>

      <ion-row>
          <ion-col>
            <p class="p_big_text" text-center color="primary_light">{{ productos_escogidos.length }}</p>
            <p text-center color="primary">items</p>
          </ion-col>
          <ion-col>
            <p class="p_big_text" text-center color="primary_light">{{ importe_total | number:'1.2-2'}} Bs</p>
            <p text-center color="primary">total</p>
          </ion-col>
      </ion-row>
            
    </ion-item>
   
</ion-footer>
