<!--
  Generated template for the ComprobanteRetencion page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{"charges.title"|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">

  <ion-list class="custom-padding" no-margin>

    <ion-list-header class="p_bold_text" no-margin>
      <ion-row>
        <ion-col col-6>{{"charges.tax_retention"|translate}}</ion-col>
      </ion-row>
    </ion-list-header>

    <ion-item>
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.document_number"|translate}} ( {{ year_month }} )</ion-label>
      <ion-input color="primary_light" [(ngModel)]="compnum" [textMask]="{mask: masks.compnum}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.retention_amount"|translate}}</ion-label>
      <ion-input color="primary_light" [(ngModel)]="montcom_ui" readonly></ion-input>
    </ion-item>

    <!--<ion-item-sliding *ngFor="let comprobante of comprobantes; let i = index">

      <ion-item>
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.document_number"|translate}} ( {{ year_month }} )</ion-label>
        <ion-input color="primary_light" [(ngModel)]="comprobante.compnum" type="number" ></ion-input>     
      </ion-item>

      <ion-item>
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.retention_amount"|translate}}</ion-label>
        <ion-input color="primary_light" [(ngModel)]="charge.monret" type="number" readonly></ion-input>
      </ion-item>

      <ion-item-options side="right" icon-left>
        <button ion-button color="danger" (click)="deleteRetention(comprobante)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>-->

  </ion-list>

  <ion-list class="custom-padding" no-margin>
    <!--<ion-list-header *ngIf="invoices.length > 0" class="p_bold_text" no-margin>
        {{"charges.selected_invoices"|translate}}
    </ion-list-header>

    <ion-item *ngFor="let charge of invoices; let i = index">
        <ion-label no-padding no-margin>
            <ion-item no-lines no-padding no-margin>
                <ion-icon color="secondary" name="list-box" item-left></ion-icon>
                <h2 class="p_bold_text">{{ charge.facnum }}</h2>
                <h2 class="p_text">{{ charge.montco | number:'1.2-2' }}</h2>
                <h2 class="p_text" [ngSwitch]="charge.metpag">
                    <span *ngSwitchCase="0">Efectivo</span>
                    <span *ngSwitchCase="1">Transferencia</span>
                    <span *ngSwitchCase="2">Cheque</span>
                    <span *ngSwitchCase="3">Deposito</span>
                </h2>
                <h2 *ngIf="charge.metpag == 1 || charge.metpag == 3 || charge.metpag == 2" class="p_text">{{ charge.desban }} </h2>
                <h2 *ngIf="charge.metpag == 1 || charge.metpag == 3" class="p_text">{{ charge.referc }} </h2>
                <h2 *ngIf="charge.metpag == 2" class="p_text">{{ charge.numchq }} </h2>
                <h2 *ngIf="charge.metpag == 2" class="p_text">{{ charge.ctachq }} </h2>
            </ion-item>
        </ion-label>
    </ion-item>-->
    
    <ion-item *ngFor="let charge of invoicesxcharge; let i = index">
      <ion-label no-padding no-margin>
        <ion-item no-lines no-padding no-margin>
          <ion-icon color="secondary" name="list-box" item-left></ion-icon>
          <h2 class="p_bold_text">{{ charge.facnum }}</h2>
          <h2 class="p_text">{{ charge.monret | number:'1.2-2' }}</h2>
        </ion-item>
      </ion-label>
    </ion-item>
    
  </ion-list>

  <ion-fab bottom right>
    <button (click)="confirmCharge()" ion-fab color="secondary">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-fab>


</ion-content>