<!--
  Generated template for the Pedido page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">    
       <ion-title>{{"billing.title"|translate}}</ion-title>
  </ion-navbar>

  <ion-searchbar animated="true" autocomplete="on" color="primary" placeholder="{{'common.search'|translate}}" (ionInput)="filterItems($event)"></ion-searchbar> 

</ion-header>


<ion-content class="background">  

  <div *ngIf="working" class="spinner-container">
      <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-list>  

    <ion-item *ngIf="clientes_vista.length == 0"> 
       <p>No hay Clientes</p>
    </ion-item>    
    
    <ion-card *ngFor="let cliente of clientes_vista; let i = index">
      <ion-item detail-push (click)="goToFacturaMain(cliente)">

          <!--<ion-avatar item-left class="avatar_bg">
            <h1 class="avatar_text_bg">{{ cliente.nombre[0] }}</h1>
          </ion-avatar>-->
          <ion-badge item-left color="secondary">
            <!--<h1 class="avatar_text_bg">{{ cliente.nombre[0] }}</h1>-->
            {{ cliente.descli[0] }}
          </ion-badge>
          <ion-icon name="ios-contact" item-left></ion-icon>
          <h2  text-wrap class="p_bold_text">{{ cliente.descli }}</h2>
          <p>{{ cliente.codcli }}</p>

      </ion-item>
    </ion-card>

    
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content
     loadingSpinner="bubbles"
     loadingText="{{'common.wait'|translate}}">
   </ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
