<ion-header>

  <ion-navbar color="primary">    
       <ion-title>{{"visits.title"|translate}}</ion-title>
  </ion-navbar>

  <ion-searchbar animated="true" autocomplete="on" color="primary" placeholder="{{'common.search'|translate}}" (ionInput)="filterItems($event)"></ion-searchbar> 

</ion-header>


<ion-content class="background">  

  <div *ngIf="working" class="spinner-container">
      <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-list>  

    <ion-item *ngIf="planes.length == 0"> 
       <p>No hay Planes de Visita</p>
    </ion-item>
       

    <ion-card *ngFor="let plan of planes">
      <ion-card-header no-padding class="plan_header_bg">
        <ion-item class="plan_header_bg">
          <ion-icon name="map" color="light" item-left></ion-icon>
          <h2 text-wrap class="p_bold_text_white">{{plan.despdv}}</h2>
        </ion-item>
      </ion-card-header>      
      
      <ion-item-sliding *ngFor="let cliente of plan.clientes">
        <ion-item class="underline" detail-push (click)="checkClientAlreadyHasOrders(cliente)">
          <ion-badge item-left color="secondary">
              {{ cliente.descli[0] }}
          </ion-badge>
          <ion-icon name="ios-contact" item-left></ion-icon>
          <h2  text-wrap class="p_bold_text">{{ cliente.descli }}</h2>
          <p>{{ cliente.codcli }}</p>
          <ion-icon style="font-size: 1.2em" *ngIf="cliente.visitado == 'true'" name="thumbs-up" item-right color="secondary_light"></ion-icon>
          <ion-icon style="font-size: 1.2em" *ngIf="cliente.visitado == 'false'" name="thumbs-down" item-right color="danger"></ion-icon> 
          
        </ion-item>
        <ion-item-options side="right" icon-left>            
          <button ion-button color="primary" (click)="openNotVisitedConfirmation(cliente)">
            <ion-icon name="thumbs-down"></ion-icon>                  
          </button>
        </ion-item-options> 
      </ion-item-sliding>
    </ion-card>
    
  </ion-list>

</ion-content>
