page-visitas {

    .avatar_bg{

        background-color: #26B99A;

    }

    .avatar_text_bg{

        font-size: 20px;                     

    }

    .p_bold_text{
        
        font-weight: bold;
        color: #5A738E;
        font-family: Impact, sans-serif;

    }

    .underline{
        border-bottom: 0.5px #AFAFAF solid;
    }

    .background{

        background-color: #ededed;

    }

    .p_bg_text{

        color: white;
        background-color:#2A3F54; 

    }  

    .plan_header_bg{

        background-color: #5A738E;
        font-weight: bold;        
        font-family: Impact, sans-serif;

    }

    .p_bold_text_white{        
       
        color: white;               
        font-family: Impact, sans-serif;

    }

    .under_line{        
       
        border-bottom-style: solid;
        border-bottom-color: #AFAFAF;      

    }

}
