<!--
  Generated template for the CobranzaProcesar page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title>{{"deposits.title"|translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="background">

    <ion-list class="custom-padding">

        <ion-list-header class="p_bold_text" no-margin>
            {{"deposits.process_deposit"|translate}}
        </ion-list-header>

        <ion-item>
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"deposits.deposit_number"|translate}}</ion-label>
            <p item-right>{{deposit.depnum}}</p>
        </ion-item>

        <ion-item>
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"deposits.date"|translate}}</ion-label>
            <p item-right>{{deposit.depfec}}</p>
        </ion-item>

        <ion-item>
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label text-wrap stacked>{{"deposits.bank_a_number"|translate}}</ion-label>
            <p item-right>{{bank_account_number}}</p>
        </ion-item>

        <ion-item>
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"deposits.total_cash"|translate}}</ion-label>
            <p item-right>{{total_cash | number:'1.2-2'}}</p>
        </ion-item>

    </ion-list>    

    <ion-list class="custom-padding" no-margin>

        <ion-list-header *ngIf="same_bank_checks.length > 0" class="p_bold_text" no-margin>
            {{"deposits.same_bank_checks"|translate}}
        </ion-list-header>

        <ion-item *ngFor="let check of same_bank_checks; let i = index">
            <ion-label no-padding no-margin>
                <ion-item no-lines no-padding no-margin>
                    <ion-icon color="secondary" name="list-box" item-left></ion-icon>
                    <h2 class="p_bold_text">{{ check.desban }}</h2>
                    <h2 class="p_text">{{ check.numcta }}</h2>
                    <h2 class="p_text">{{ check.numchq }}</h2>
                    <p>{{ check.monchq | number:'1.2-2'}}</p>
                </ion-item>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"deposits.total_same_bank_checks"|translate}}</ion-label>
            <p item-right>{{total_same_bank_checks | number:'1.2-2'}}</p>
        </ion-item>

    </ion-list>

    <ion-list class="custom-padding" no-margin>

        <ion-list-header *ngIf="other_bank_checks.length > 0" class="p_bold_text" no-margin>
            {{"deposits.other_bank_checks"|translate}}
        </ion-list-header>

        <ion-item *ngFor="let check of other_bank_checks; let i = index">
            <ion-label no-padding no-margin>
                <ion-item no-lines no-padding no-margin>
                    <ion-icon color="secondary" name="list-box" item-left></ion-icon>
                    <h2 class="p_bold_text">{{ check.desban }}</h2>
                    <h2 class="p_text">{{ check.numcta }}</h2>
                    <h2 class="p_text">{{ check.numchq }}</h2>
                    <p>{{ check.monchq | number:'1.2-2'}}</p>
                </ion-item>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"deposits.total_other_bank_checks"|translate}}</ion-label>
            <p item-right>{{total_other_bank_checks | number:'1.2-2'}}</p>
        </ion-item>

    </ion-list>

    <ion-list class="custom-padding" no-margin>

        <ion-item *ngFor="let deposit of bank_deposits; let i = index">
            <ion-label no-padding no-margin>
                <ion-item no-lines no-padding no-margin>
                    <ion-icon color="secondary" name="list-box" item-left></ion-icon>
                    <h2 class="p_bold_text">{{ deposit.desban }}</h2>
                    <h2 class="p_text">{{ deposit.numcta }}</h2>
                    <h2 class="p_text">{{ deposit.numchq }}</h2>
                    <p>{{ deposit.monchq | number:'1.2-2' }}</p>
                </ion-item>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"deposits.total_deposit"|translate}}</ion-label>
            <p item-right>{{total_deposits | number:'1.2-2' }}</p>
        </ion-item>

    </ion-list>

    <ion-list class="custom-padding" no-margin>

        <ion-item *ngFor="let transference of bank_transferences; let i = index">
            <ion-label no-padding no-margin>
                <ion-item no-lines no-padding no-margin>
                    <ion-icon color="secondary" name="list-box" item-left></ion-icon>
                    <h2 class="p_bold_text">{{ transference.desban }}</h2>
                    <h2 class="p_text">{{ transference.numcta }}</h2>
                    <h2 class="p_text">{{ transference.numchq }}</h2>
                    <p>{{ transference.monchq | number:'1.2-2' }}</p>
                </ion-item>
            </ion-label>
        </ion-item>


        <ion-item>
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"deposits.total_transference"|translate}}</ion-label>
            <p item-right>{{total_transferences | number:'1.2-2' }}</p>
        </ion-item>

    </ion-list>

    <ion-row>
        <ion-col col-6 text-center>
            <button ion-button color="secondary" outline round (click)="goBack()">
                {{"common.cancel"|translate}}
            </button>
        </ion-col>
        <ion-col col-6 text-center>
            <button ion-button color="secondary" round (click)="confirmDeposit()">
                {{"common.confirm"|translate}}
            </button>
        </ion-col>
    </ion-row>

</ion-content>