page-dashboard {
    .perfil-menu {
        background-color: yellow;
    }

    .avatar_bg{

        background-color:#26B99A;

    }

    .avatar_text_bg{

        color: white;
        text-align: center;
        vertical-align: middle;
        padding-top: 20%;        

    }

    .bg-dropdown{

        background-color: #D9DEE4;

    }

    .bg{

        background-color: #2A3F54;

    }

    .p_bold_text{
        
        font-weight: bold;       
        font-family: Impact, sans-serif;

    }    
    
    .icon_big{

        font-size: 2.2em;

    }

    .center-image{
      margin:0 auto;
      max-width: 100px !important;
      max-height: 100px !important;
    }

    .btn-sucursal {
        background-color: rgb(42, 64, 94);
    }

    .item-border {
        border-bottom: 1px #D9DEE4 solid;
    }

    .suc-item.ng-enter {
        -webkit-animation: fadeInLeft 1s;
        animation: fadeInLeft 1s;
    }

    .suc-item.ng-enter-stagger {
        -webkit-animation-delay:200ms;
        animation-delay:200ms;

        /* override to make sure it's not inherited from other styles */
        -webkit-animation-duration:0;
        animation-duration:0;
    }
}
