<!--
  Generated template for the Agregarproducto page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{"add_products.title"|translate}}</ion-title>
    <!--<ion-buttons left>
      <button ion-button icon-only (click)="dismissPopUp()">
        <ion-icon name="arrow-back"></ion-icon>        
      </button>
    </ion-buttons>-->

  </ion-navbar>
  <ion-searchbar animated="true" autocomplete="on" placeholder="{{'common.search'|translate}}" (ionInput)="filterItems($event)"></ion-searchbar>

</ion-header>

<ion-content class="background" overflow-scroll='false'>
  <!--<ion-list-header *ngIf=" (productos_vista.length == 0) && (productos_prio.length == 0)">
    {{"add_products.no_prod"|translate}}
  </ion-list-header>-->
  <ion-list *ngIf="productos_prio.length > 0">
    <!--<ion-list-header class="background p_bold_text" no-lines margin-top>
          <ion-icon name="star" item-left></ion-icon>
          {{"add_products.priority"|translate}}
        </ion-list-header>-->
    <ion-card *ngFor="let producto of productos_prio; let i = index">
      <ion-item detail-push (click)="itemSelected($event, producto)">
        <ion-badge item-left color="secondary">
          {{ producto.despro[0] }}
        </ion-badge>
        <ion-icon [ngStyle]="{'color':primary_light}" name="nutrition" item-left></ion-icon>
        <h2 text-wrap class="p_bold_text">{{ producto.despro }}</h2>
        <p>{{ producto.codpro }}</p>
        <p>Bs: {{ producto.prepro | number:'1.2-2' }}</p>
      </ion-item>
    </ion-card>

  </ion-list>
  <!--<ion-list *ngIf="productos_vista.length > 0">
        <ion-list-header class="background p_bold_text" no-lines margin-top>
          <ion-icon name="star-outline" item-left></ion-icon>
          {{"add_products.all"|translate}}
        </ion-list-header>
        <ion-card *ngFor="let producto of productos_vista; let i = index">
          <ion-item detail-push (click)="itemSelected($event, producto)">-->
  <!--<ion-avatar item-left class="avatar_bg">
                <h1 class="avatar_text_bg">{{ producto.despro[0] }}</h1>
            </ion-avatar>
            <ion-icon [ngStyle]="{'color':primary_light}" name="nutrition" item-left></ion-icon>
            <h2 text-wrap class="p_bold_text">{{ producto.despro }}</h2>
            <p>{{ producto.codpro }}</p>
            <p>Bs: {{ producto.prepro }}</p>-->
  <!--<ion-badge item-left color="secondary">
                {{ producto.despro[0] }}
            </ion-badge>
            <ion-icon [ngStyle]="{'color':primary_light}" name="nutrition" item-left></ion-icon>
            <h2 text-wrap class="p_bold_text">{{ producto.despro }}</h2>
            <p>{{ producto.codpro }}</p>
            <p>Bs: {{ producto.prepro | number:'1.2-2' }}</p>
          </ion-item>
        </ion-card>

  </ion-list>-->

  <!-- <ion-infinite-scroll *ngIf="productos_vista.length > 0" (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content
     loadingSpinner="bubbles"
     loadingText="{{'common.wait'|translate}}">
   </ion-infinite-scroll-content>
 </ion-infinite-scroll> -->

  <ion-infinite-scroll *ngIf="productos_prio.length > 0" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'common.wait'|translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>