page-agregarproducto {

    .avatar_bg{

        background-color:#26B99A;

    }

    .avatar_text_bg{

        font-size: 20px;                     

    }

    .p_bold_text{

        font-weight: bold;
        color: #5A738E;

    }

    .background{

        background-color: #ededed;

    }

    .p_bg_text{

        color: white;
        background-color:#2A3F54; 

    }    


}
