<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-buttons end>
			<button ion-button icon-only (click)="presentPopover($event)">
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title (click)="titleClick()">{{"HOME"|translate}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="login-gray">
	<div class="logo">
		<img src="assets/img/Logo.png" alt="Ionic logo">
	</div>

	<form #loginForm="ngForm" novalidate>
		<!--<p ion-text [hidden]="noError" color="danger" padding-left>{{errorMessagge}}</p>-->
		<ion-list>
			<ion-item class="login-gray">
				<ion-label floating color="primary">{{"login.user"|translate}}</ion-label>
				<ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
					required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="username.valid || submitted == false" color="danger" padding-left>
				{{"login.validation.user"|translate}}
			</p>

			<ion-item class="login-gray">
				<ion-label floating color="primary">{{"login.pass"|translate}}</ion-label>
				<ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
				{{"login.validation.pass"|translate}}
			</p>
		</ion-list>

		<ion-row responsive-sm>
			<ion-col>
				<div text-center>
					<button color="primary" ion-button (click)="onLogin(loginForm)" type="submit" round>{{"login.signIn"|translate}}</button>
				</div>
			</ion-col>
		</ion-row>
		<!--<ion-row responsive-sm>
			<ion-col>
				<button ion-button (click)="borrarDato()" type="submit" block>Borrar Dato</button>
			</ion-col>
		</ion-row>-->
		<!--<ion-row responsive-sm>
			<ion-col>
				<button ion-button (click)="borrarBD()" type="submit" block>Borrar base de Dato</button>
			</ion-col>
		</ion-row>-->
	</form>
	<ion-fab bottom right>
		<button (click)="acercaDe()" ion-fab color="primary"><ion-icon name="information-circle"></ion-icon></button>
	</ion-fab>
</ion-content>
