page-pedido-main {

    .p_bold_text{

        font-weight: bold;
        color: #5A738E;

    }

    .p_text{
        
        color: #5A738E;

    }

    .background{

        background-color: #ededed;

    }

    label{

        display: block;

    }

    .button-fab {
        position: relative !important;
        margin-top: 7%;
    }

    .vertical-align-content > *{
        display: flex!important;
        align-content: center!important;
        align-items: center!important;
    }

    .p_big_text{

        font-size: 1.3em;
        color: #AFAFAF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }

    .center_el{
        padding-top: 100px;
    }

    .center-image{
      margin:0 auto;
      max-width: 80px !important;
      max-height: 80px !important;
    }

    .Absolute-Center {
        width: 100%;
        height: 100%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }

        

}
