<!--
  Generated template for the PedidoMain page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{"take_orders.title"|translate}}</ion-title>      
      
  </ion-navbar>

  <ion-segment [(ngModel)]="fase" color="primary">
      <ion-segment-button value="open">
        <ion-icon name="basket"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="closed">
        <ion-icon name="checkmark"></ion-icon>    
      </ion-segment-button>
      <ion-segment-button value="printed">
        <ion-icon name="print"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="synced">
        <ion-icon name="cloud-done"></ion-icon>     
      </ion-segment-button>      
  </ion-segment>

</ion-header>


<ion-content class="background">

  <div [ngSwitch]="fase">

    <div *ngSwitchCase="'open'">             

        <ion-list>  

          <ion-item *ngIf="open_pedidos.length == 0" class="background Absolute-Center">           
            
            <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
            <!--<br /><br /><br /><br /><br /><br />-->
            <ion-thumbnail>
              <img class="center-image" src="assets/img/clipboard-papers.png">
            </ion-thumbnail><br /><br />
            <p class="p_big_text" text-center> 
              {{"main_order.no_open_orders"|translate}}
            </p>

          </ion-item>

          <ion-card *ngFor="let pedido of open_pedidos; let i = index">
            <ion-item-sliding>

              <ion-item detail-push (click)="goToCesta(pedido)">
                  <ion-icon name="cart" item-left></ion-icon>
                  <h2 class="p_bold_text">{{ pedido.descli }}</h2>          
                  <h2 class="p_text">{{ pedido.pednum }}</h2>
                  <p>{{ pedido.fechcr }}</p>
                  <p item-right color="secondary">{{"main_order.open"|translate}}</p>
                  <!--<ion-icon *ngIf="pedido.ispdv == 'true'" name="thumbs-up" color="secondary"></ion-icon>
                  <ion-icon *ngIf="pedido.ispdv == 'false'" name="thumbs-down" color="danger"></ion-icon>-->            
              </ion-item>

              <ion-item-options side="right" icon-left>            
                  <button ion-button color="danger" (click)="openRemoveOrderConfirmation(pedido)">
                      <ion-icon name="trash"></ion-icon>                  
                  </button>
              </ion-item-options>
            

            </ion-item-sliding>
          </ion-card>          
          
        </ion-list>                                  

    </div>

    <div *ngSwitchCase="'closed'">            

        <ion-list>

          <ion-item *ngIf="closed_pedidos.length == 0" class="background Absolute-Center">           
            
            <!--<br /><br /><br /><br /><br /><br />-->
            <ion-thumbnail>
              <img class="center-image" src="assets/img/clipboard-papers.png">
            </ion-thumbnail><br /><br />
            <p class="p_big_text" text-center> 
              {{"main_order.no_closed_orders"|translate}}
            </p>

          </ion-item>             
         
          <ion-card *ngFor="let pedido of closed_pedidos; let i = index">
            <ion-item-sliding>

              <ion-item detail-push (click)="goToCestaClosed(pedido)">
                  <ion-icon [ngStyle]="{'color':primary_light}" name="cart" item-left></ion-icon>          
                  <h2 class="p_bold_text">{{ pedido.descli }}</h2>          
                  <h2 class="p_text">{{ pedido.pednum }}</h2>
                  <p>{{ pedido.fechcr }}</p>
                  <p item-right color="secondary">{{"main_order.closed"|translate}}</p>           
              </ion-item>

              <ion-item-options side="right" icon-left>            
                  <button ion-button color="danger" (click)="openRemoveOrderConfirmation(pedido)">
                      <ion-icon name="trash"></ion-icon>                  
                  </button>
              </ion-item-options>
            

            </ion-item-sliding>
          </ion-card>

          
        </ion-list>
    </div>

    <div *ngSwitchCase="'synced'">            

        <ion-list>

          <ion-item *ngIf="synced_pedidos.length == 0" class="background Absolute-Center">           
            
            <!--<br /><br /><br /><br /><br /><br />-->
            <ion-thumbnail>
              <img class="center-image" src="assets/img/clipboard-papers.png">
            </ion-thumbnail><br /><br />
            <p class="p_big_text" text-center> 
              {{"main_order.no_synced_orders"|translate}}
            </p> 

          </ion-item>  
                   
          <ion-card *ngFor="let pedido of synced_pedidos; let i = index">
            <!--<ion-item-sliding>-->

              <ion-item detail-push (click)="goToCestaSynced(pedido)">
                  <ion-icon [ngStyle]="{'color':primary_light}" name="cart" item-left></ion-icon>          
                  <h2 class="p_bold_text">{{ pedido.descli }}</h2>          
                  <h2 class="p_text">{{ pedido.pednum }}</h2>
                  <p>{{ pedido.fechcr }}</p>
                  <p item-right color="secondary">{{"main_order.synced"|translate}}</p>           
              </ion-item>

              <!--<ion-item-options side="right" icon-left>            
                  <button ion-button color="danger" (click)="openDeleteConfirmation(pedido)">
                      <ion-icon name="trash"></ion-icon>                  
                  </button>
              </ion-item-options>
            

            </ion-item-sliding>-->
          </ion-card>

          
        </ion-list>
    </div>

    <div *ngSwitchCase="'printed'">          

        <ion-list>

          <ion-item *ngIf="printed_pedidos.length == 0" class="background Absolute-Center">           
            
            <!--<br /><br /><br /><br /><br /><br />-->
            <ion-thumbnail>
              <img class="center-image" src="assets/img/clipboard-papers.png">
            </ion-thumbnail><br /><br />
            <p class="p_big_text" text-center> 
              {{"main_order.no_printed_orders"|translate}}
            </p>

          </ion-item>        
                     
          <ion-card *ngFor="let pedido of printed_pedidos; let i = index">
            <!--<ion-item-sliding>-->

              <ion-item detail-push (click)="goToCestaPrinted(pedido)">
                  <ion-icon [ngStyle]="{'color':primary_light}" name="cart" item-left></ion-icon>          
                  <h2 class="p_bold_text">{{ pedido.descli }}</h2>          
                  <h2 class="p_text">{{ pedido.pednum }}</h2>
                  <p>{{ pedido.fechcr }}</p>
                  <p item-right color="secondary">{{"main_order.printed"|translate}}</p>           
              </ion-item>

              <!--<ion-item-options side="right" icon-left>            
                  <button ion-button color="danger" (click)="openDeleteConfirmation(pedido)">
                      <ion-icon name="trash"></ion-icon>                  
                  </button>
              </ion-item-options>-->
            

            <!--</ion-item-sliding>-->
          </ion-card>

          
        </ion-list>
    </div>  

  </div>
  
  <ion-fab bottom right>
      <button *ngIf="fase == 'open'" (click)="goToClientsList()" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
