<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>   
      <button ion-button icon-only (click)="openPhotos()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openOnlineClients()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{"home.title"|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background grid-full">
  

  <ion-item *ngIf="menus.length == 0" class="background-no-menu Absolute-Center">      
    
    <ion-thumbnail>
      <img class="center-image" src="assets/img/Logo.png">
    </ion-thumbnail><br /><br />
    <p class="p_bigger_text" text-center> 
      {{"common.welcome"|translate}}
    </p><br />
    <p class="p_big_text" text-center> 
      {{"common.welc_rout"|translate}}
    </p><br /><br /><br /><br />
    
    

  </ion-item>

  <!--<div>
      Sucursal 1
  </div>-->
  <ion-row *ngIf="menus.length > 0">
    <ion-col [ngClass]='mimenu.estilo' *ngFor="let mimenu of menus; let i = index">
      <button class="Absolute-Center" clear ion-button (click)="openPage(mimenu)">
        <div>
          <ion-icon color="color_white" style="font-size: 5em" [name]="mimenu.icon"></ion-icon><br />
          <ion-label color="color_white">{{mimenu.titleMsg|translate}}</ion-label>
        </div>
      </button>
    </ion-col>
  </ion-row>
</ion-content>