<!--
  Generated template for the DataNoSync page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{"dataNoSync.title"|translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item *ngIf="!ordersWhSync && !cxpWhSync && !vpWhSync">
    <p>{{"dataNoSync.no_data_nsync"|translate}}</p>
  </ion-item>
  <ion-item *ngIf="ordersWhSync"> 
    <p>{{"dataNoSync.unsync_orders"|translate}}</p>
  </ion-item>
  <ion-item *ngIf="cxpWhSync"> 
    <p>{{"dataNoSync.unsync_clients"|translate}}</p>
  </ion-item>
  <ion-item *ngIf="vpWhSync"> 
    <p>{{"dataNoSync.unsync_plans"|translate}}</p>
  </ion-item>
</ion-content>