page-administracion {
    .bg-header {
        background-color: #ededed;
        border-style: none;
        margin:0px;
        display: block;
    }

    .custom_item_padding{
        padding: 15px;

    }

    .p_bold_text{
        
        font-weight: bold;
        color: #5A738E;
        font-family: Impact, sans-serif;

    }

    .background{

        background-color: #ededed;

    }
}
