<!--
  Generated template for the Administracion page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"management.title"|translate}}</ion-title>
  </ion-navbar>
</ion-header>


<!--<ion-content>
  <ion-list no-border>
    <ion-list-header>
      {{"management.general"|translate}}
    </ion-list-header>
    <ion-item class="custom_item_padding" (click)="inicConfig()">
      <ion-icon name="options" item-left color="secondary"></ion-icon>
      <h2  text-wrap class="p_bold_text">{{"management.init_conf"|translate}}</h2>              
    </ion-item>
    <ion-item class="custom_item_padding" (click)="inicConfig()">
      <ion-icon name="contacts" item-left color="secondary"></ion-icon>
      <h2  text-wrap class="p_bold_text">{{"management.refresh_clients"|translate}}</h2>              
    </ion-item>
    <ion-item class="custom_item_padding" (click)="inicConfig()">
      <ion-icon name="ios-nutrition" item-left color="secondary"></ion-icon>
      <h2  text-wrap class="p_bold_text">{{"management.refresh_products"|translate}}</h2>             
    </ion-item>
  </ion-list>
</ion-content>-->

<ion-content class="background"> 
      
      <ion-card>
        <ion-item class="custom_item_padding" (click)="inicConfig()">
          <ion-icon name="options" item-left color="secondary"></ion-icon>
          <h2  text-wrap class="p_bold_text">{{"management.init_conf"|translate}}</h2>              
        </ion-item>
      </ion-card>
      <!--<div *ngIf="isSync == 'true'">
        <ion-card>
          <ion-item class="custom_item_padding" (click)="resetClientsOrProducts(0)">
            <ion-icon name="contacts" item-left color="secondary"></ion-icon>
            <h2  text-wrap class="p_bold_text">{{"management.refresh_clients"|translate}}</h2>
          </ion-item>
        </ion-card>
        <ion-card>
          <ion-item class="custom_item_padding" (click)="resetClientsOrProducts(1)">
            <ion-icon name="ios-nutrition" item-left color="secondary"></ion-icon>
            <h2  text-wrap class="p_bold_text">{{"management.refresh_products"|translate}}</h2>
          </ion-item>
        </ion-card>
      </div>-->
  
</ion-content>