page-factura-closed {

    .p_bold_text{

        font-weight: bold;
        color: #5A738E;


    }

    .p_italic_text{

        color:#5A738E;
        font-size: 14px;
    }

    .footer_tuning{
        background-color: #387ef5;

    }

    .background{

        background-color: #ededed;

    } 

    .item_background{

        background-color: #2A3F54;
    }

    .p_white_text{

        color:#ffffff;
    }

    .avatar_bg{

        background-color: #26B99A;

    }

    .avatar_text_bg{

        font-size: 20px;                     

    }

    .p_big_text{

        font-size: 24px;
    }

    .p_bg_text{

        color: white;
        background-color:#2A3F54; 

    }

}
