<ion-tabs [selectedIndex]="mySelectedIndex">
  <ion-tab [root]="tab1Root" tabTitle="Pedidos" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Cobranzas" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Facturacion" tabIcon="map"></ion-tab>
</ion-tabs>
