page-foto-captura {

    .block {
        position: relative
    }

    .deleteIcon {
        position: absolute !important;
        color: #ffffff !important;
        margin-left: 80% !important;
    }

    .deleteIcon:before {
        font-size: 30px !important;
    }

    .center-image{
      margin:0 auto;
      max-width: 80px !important;
      max-height: 80px !important;
    }

    .Absolute-Center {
        width: 100%;
        height: 100%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }

    .p_big_text{

        font-size: 1.3em;
        color: #AFAFAF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }

}
