<!--
  Generated template for the CobranzaProcesar page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <ion-title>{{"charges.title"|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">

  <ion-list class="custom-padding">

      <ion-list-header class="p_bold_text" no-margin>
          {{"charges.confirm_charge"|translate}}
      </ion-list-header>

      <ion-item>
          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <ion-label stacked>{{"charges.total_amount"|translate}}</ion-label>
          <p item-right>{{charge.montco | number:'1.2-2'}}</p>
      </ion-item>

      <ion-item *ngIf="charge.divisa">
          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <ion-label stacked>{{"charges.badge"|translate}}</ion-label>
          <p item-right>{{charge.divisa}}</p>            
      </ion-item>

      <ion-item>
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.payment_method"|translate}}</ion-label>
            <p *ngIf="charge.metpag == 0" item-right>{{"charges.cash"|translate}}</p>
            <p *ngIf="charge.metpag == 1" item-right>{{"charges.transfer"|translate}}</p>
            <p *ngIf="charge.metpag == 2" item-right>{{"charges.check"|translate}}</p>
            <p *ngIf="charge.metpag == 3" item-right>{{"charges.deposit"|translate}}</p>
        </ion-item>

        <ion-item *ngIf="charge.metpag == 1 || charge.metpag == 3 || charge.metpag == 2">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.bank"|translate}}</ion-label>
            <p item-right>{{selected_bank}}</p>
        </ion-item>

        <ion-item *ngIf="charge.metpag == 1 || charge.metpag == 3">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.reference"|translate}}</ion-label>
            <p item-right>{{charge.referc}}</p>            
        </ion-item>

        <ion-item *ngIf="charge.metpag == 2">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.check_a_number"|translate}}</ion-label>
            <p item-right>{{charge.ctachq}}</p>            
        </ion-item>

        <ion-item *ngIf="charge.metpag == 2">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.check_number"|translate}}</ion-label>
            <p item-right>{{charge.numchq}}</p>            
        </ion-item>        

        <!--<ion-item *ngIf="charge.numcom">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.document_number"|translate}}</ion-label>
            <p item-right>{{charge.numcom}}</p>            
        </ion-item>-->

        <ion-item *ngIf="charge.monret">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.retention_amount"|translate}}</ion-label>
            <p item-right>{{charge.monret | number:'1.2-2'}}</p>
        </ion-item>

      <!-- <ion-item>
          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <ion-label stacked>{{"charges.payment_method"|translate}}</ion-label>
          <p *ngIf="charge.metpag == 0" item-right>{{"charges.cash"|translate}}</p>
          <p *ngIf="charge.metpag == 1" item-right>{{"charges.transfer"|translate}}</p>
          <p *ngIf="charge.metpag == 2" item-right>{{"charges.check"|translate}}</p>
          <p *ngIf="charge.metpag == 3" item-right>{{"charges.deposit"|translate}}</p>
      </ion-item>

      <ion-item *ngIf="charge.metpag == 1 || charge.metpag == 3 || charge.metpag == 2">
          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <ion-label stacked>{{"charges.bank"|translate}}</ion-label>
          <p item-right>{{selected_bank}}</p>
      </ion-item>

      <ion-item *ngIf="charge.metpag == 1 || charge.metpag == 3">
          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <ion-label stacked>{{"charges.reference"|translate}}</ion-label>
          <p item-right>{{charge.referc}}</p>            
      </ion-item>

      <ion-item *ngIf="charge.metpag == 2">
          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <ion-label stacked>{{"charges.check_a_number"|translate}}</ion-label>
          <p item-right>{{charge.ctachq}}</p>            
      </ion-item>

      <ion-item *ngIf="charge.metpag == 2">
          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <ion-label stacked>{{"charges.check_number"|translate}}</ion-label>
          <p item-right>{{charge.numchq}}</p>            
      </ion-item>

      <ion-item *ngIf="charge.divisa">
          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <ion-label stacked>{{"charges.badge"|translate}}</ion-label>
          <p item-right>{{charge.divisa}}</p>            
      </ion-item>

      <ion-item *ngIf="charge.document_number">
          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <ion-label stacked>{{"charges.document_number"|translate}}</ion-label>
          <p item-right>{{charge.document_number}}</p>            
      </ion-item>

      <ion-item *ngIf="charge.retention_number">
          <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
          <ion-label stacked>{{"charges.retention_amount"|translate}}</ion-label>
          <p item-right>{{charge.retention_number}}</p>
      </ion-item>-->

  </ion-list>

  <ion-list class="custom-padding" no-margin>
      <ion-list-header *ngIf="invoicesxcharge.length > 0" class="p_bold_text" no-margin>
          {{"charges.selected_invoices"|translate}}
      </ion-list-header>

      <ion-item *ngFor="let charge of invoicesxcharge; let i = index">
          <ion-label no-padding no-margin>
              <ion-item no-lines no-padding no-margin>
                  <ion-icon color="secondary" name="list-box" item-left></ion-icon>
                  <h2 class="p_bold_text">{{ charge.facnum }}</h2>
                  <h2 class="p_text">{{ charge.montcon | number:'1.2-2' }}</h2>                  
              </ion-item>
          </ion-label>
      </ion-item>

      <ion-row>
          <ion-col col-6 text-center>
              <button ion-button color="secondary" outline round (click)="goBack()">
                  {{"common.cancel"|translate}}
              </button>
          </ion-col>
          <ion-col col-6 text-center>
              <button ion-button color="secondary" round (click)="printOrderSelectPrinter()">
                  {{"common.print"|translate}}
              </button>
          </ion-col>
      </ion-row>
  </ion-list>

</ion-content>
