<!--
  Generated template for the CestaClosed page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{"billing.invoice"|translate}}</ion-title>      
  </ion-navbar>

</ion-header>


<ion-content class="background">

  <!--<ion-fab top right edge>
    <button (click)="openInventory($event)" ion-fab mini color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>-->

  <ion-card>
     
    <ion-item>  
      <ion-badge item-left color="secondary">
        {{ nombre_cliente[0] }}
      </ion-badge>
      <ion-icon [ngStyle]="{'color':primary_light}" name="ios-contact" item-left></ion-icon>
      <h2 text-wrap class="p_bold_text">
        {{ nombre_cliente }}        
      </h2>
      <p>{{"billing.invoice_sub"|translate}} {{ numero_actual_pedido }}</p>
      <p>{{"basket.code"|translate}} {{ codigo_cliente }}</p>
    </ion-item>  
      
  </ion-card>

  <ion-card>
    <ion-list>          

      <ion-item class="item_background">
        <ion-row>
            <ion-col col-2><p class="p_white_text">{{"basket.quantity"|translate}}</p></ion-col>
            <ion-col col-8 text-center><p class="p_white_text">{{"basket.description"|translate}}</p></ion-col>
            <ion-col col-2><p class="p_white_text">{{"basket.price"|translate}}</p></ion-col>
        </ion-row>     
      </ion-item>

      <ion-item *ngIf="productos_escogidos.length == 0"> 
        <p>{{"basket.empty_order"|translate}}</p>
      </ion-item>  

      <ion-item-sliding *ngFor="let producto of productos_escogidos; let i = index">
              
          <ion-item>
            <ion-row>
                      
                <ion-col col-3 text-center><p class="p_italic_text">{{ producto.cancar | number:'1.2-2'}} {{ producto.coduni }}</p></ion-col>
                <ion-col col-5 text-wrap text-center><p class="p_italic_text">{{ producto.descar }}</p></ion-col>
                <ion-col col-4 text-right><p class="p_italic_text">{{ producto.pedprt | number:'1.2-2'}}</p></ion-col>                  

            </ion-row>    
          </ion-item>

          <ion-item-options side="right" icon-left>
            <button ion-button color="warning" (click)="editProduct(producto)">
                <ion-icon name="create"></ion-icon>                  
            </button>
            <button ion-button color="danger" (click)="openDeleteConfirmation(producto)">
                <ion-icon name="trash"></ion-icon>                  
            </button>                      
          </ion-item-options>        
                  
      </ion-item-sliding>  

    </ion-list>

  </ion-card>  

</ion-content>

<ion-footer> 

    <ion-fab center top edge>
        <button (click)="openCloseConfirmation()" [disabled]="deshabilitar_cerrar" ion-fab color="secondary"><ion-icon name="checkmark"></ion-icon></button>
    </ion-fab>

    <ion-item padding-top>

      <ion-row>
          <ion-col>
            <p class="p_big_text" text-center color="primary_light">{{ productos_escogidos.length }}</p>
            <p text-center color="primary">items</p>
          </ion-col>
          <ion-col>
            <p class="p_big_text" text-center color="primary_light">{{ importe_total | number:'1.2-2'}} {{divisa}}</p>
            <p text-center color="primary">total</p>
          </ion-col>
      </ion-row>
            
    </ion-item>
   
</ion-footer>