<!--
  Generated template for the Dashboard page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-split-pane>
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-content class="bg outer-content page-dashboard">
      <ion-item class="bg item-border">
        <ion-thumbnail>
          <img class="center-image" src="assets/img/Logo.png">
        </ion-thumbnail>
        <p color="background">{{"common.welcome"|translate}},</p>
        <h2 class="p_bold_text" color="light" *ngIf="nombre">{{nombre}}</h2>
        <!--<div no-padding padding-top margin-top *ngIf="selectedSucursal" class="btn-sucursal" (click)="openSucursales()">
          <p color="background"><span margin-right>{{selectedSucursal}}</span><ion-icon color="light" item-right name="arrow-dropdown"></ion-icon></p>
        </div>-->

        
        <!--<ion-item color="secondary" (click)="showSucursales()">
          <ion-icon item-left name="ios-cube" color="secondary"></ion-icon>          
          Sucursal: {{selectedSucursal}}
          <ion-list class="bg" *ngIf="show_sucursales" radio-group>
            <ion-item class="suc-item" *ngFor="let sucursal of sucursales">
              <ion-label>{{sucursal.title}}</ion-label>
              <ion-radio [checked]="sucursal.checked" (click)="changeSucursal(sucursal)"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-item>-->

        <button *ngIf="selectedSucursal" color="secondary" ion-item no-lines detail-none (click)="showSucursales()">
          <ion-icon item-left name="ios-cube"></ion-icon>          
          {{selectedSucursal.dessuc + ' - '  + selectedSucursal.despro}}
          <ion-icon item-right [name]="suc_icon"></ion-icon>
        </button>

        <ion-list *ngIf="show_sucursales" radio-group no-lines>
          <ion-item class="bg-dropdown" *ngFor="let sucursal of sucursales">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label>{{sucursal.dessuc + ' - ' +sucursal.despro}}</ion-label>
            <ion-radio [checked]="sucursal.codusr == selectedSucursal.codusr && sucursal.codsuc == selectedSucursal.codsuc && sucursal.codpro == selectedSucursal.codpro" (click)="changeSucursal(sucursal)"></ion-radio>
          </ion-item>
        </ion-list>
        
        
        

        

        <!--<button class="btn-sucursal" *ngIf="selectedSucursal" color="primary_light" ion-item no-lines detail-none menuClose (click)="openSucursales()">
          {{selectedSucursal}}
          <ion-icon item-right name="arrow-down"></ion-icon>
        </button>-->
        <!--<ion-select [(ngModel)]="selectedSucursal" selectedText="cash">
          <ion-option value="0" selected="true">{{"charges.cash"|translate}}</ion-option>
          <ion-option value="1">{{"charges.transfer"|translate}}</ion-option>
          <ion-option value="2">{{"charges.check"|translate}}</ion-option>
          <ion-option value="3">{{"charges.deposit"|translate}}</ion-option>
        </ion-select>-->
      </ion-item>

      <!--<ion-item>
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.payment_method"|translate}}</ion-label>
        <ion-select color="primary_light" [(ngModel)]="charge.payment_method" (ionChange)="changePaymentMethod()">
          <ion-option value="0">{{"charges.cash"|translate}}</ion-option>
          <ion-option value="1">{{"charges.transfer"|translate}}</ion-option>
          <ion-option value="2">{{"charges.check"|translate}}</ion-option>
          <ion-option value="3">{{"charges.deposit"|translate}}</ion-option>
        </ion-select>
      </ion-item>-->

      <!--<ion-list class="bg" *ngIf="selectedSucursal" no-lines>
        <ion-list-header class="bg" no-lines>
          <p color="background">{{"common.branch_office"|translate}}</p>
        </ion-list-header>
        <button color="primary"  ion-item no-lines detail-none menuClose (click)="openSucursales()">
          {{selectedSucursal}}
        </button>
      </ion-list>-->

      <ion-list class="bg" no-lines>
        <ion-list-header class="bg" no-lines>
          <p color="background">{{"common.navigate"|translate}}</p>
        </ion-list-header>
        <button color="primary" ion-item no-lines detail-none menuClose [hidden]="!home.visible" (click)="openPage(home)">
          <ion-icon class="icon_big" item-left [name]="home.icon" [color]="isActive(home)"></ion-icon>
          {{home.title}}
        </button>
        <button color="primary" ion-item no-lines detail-none menuClose *ngFor="let p of appPages" [hidden]="!p.visible" (click)="openPage(p)">
          <ion-icon class="icon_big" item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list class="bg" no-lines>
        <ion-list-header class="bg" no-lines>
          <p color="background">{{"common.account"|translate}}</p>
        </ion-list-header>
        <button color="primary" *ngIf="actiSync" ion-item no-lines detail-none menuClose (click)="showAlertConfirm()">
          <ion-icon class="icon_big" item-left name="sync" [color]="primary"></ion-icon>
          {{"home.btn_sync"|translate}}
        </button>
        <button color="primary" ion-item no-lines detail-none menuClose [hidden]="!dataNoSync.visible" (click)="openPage(dataNoSync)">
          <ion-icon class="icon_big" item-left [name]="dataNoSync.icon" [color]="isActive(dataNoSync)"></ion-icon>
          Datos no sincronizados
        </button>
        <button color="primary" ion-item no-lines detail-none menuClose (click)="decideDelSyncData()">
          <ion-icon class="icon_big" item-left name="trash" [color]="primary"></ion-icon>
          {{"common.btn_del_sync"|translate}}
        </button>
        <button color="primary" ion-item no-lines detail-none menuClose (click)="doLogout()">
          <ion-icon class="icon_big" item-left name="power"></ion-icon>
          {{"logout"|translate}}
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>