<!--
  Generated template for the FotoCaptura page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">    
       <ion-title>{{"photo.title"|translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page"> 

  <ion-item *ngIf="photos.length == 0" class="background Absolute-Center">           
            
        <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
        <!--<br /><br /><br /><br /><br /><br />-->
        <ion-thumbnail>
          <img class="center-image" src="assets/img/clipboard-papers.png">
        </ion-thumbnail><br /><br />
        <p class="p_big_text" text-center> 
          {{"photo.no_open_photos"|translate}}
        </p>

  </ion-item>

  <ion-grid no-padding no-margin>
    <ion-row no-padding no-margin>
      <ion-col no-padding no-margin col-6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon  name="trash" class="deleteIcon" (click)="openRemovePhotoConfirmation(photo, id)"></ion-icon>
          <img *ngIf="photo.destino" [src]="photo.destino"/>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom right>
      <button (click)="takePhoto()" ion-fab color="secondary"><ion-icon name="camera"></ion-icon></button>
  </ion-fab>

</ion-content>
