<!--
  Generated template for the Cobranza page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{"deposits.title"|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">

  <ion-list class="custom-padding" no-margin>

    <ion-list-header class="p_bold_text" no-margin>
      {{"deposits.process_deposit"|translate}}
    </ion-list-header>

    <ion-item>
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"deposits.deposit_number"|translate}}</ion-label>
      <ion-input [(ngModel)]="deposit.depnum" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.bank"|translate}}</ion-label>
      <ion-select color="primary_light" [(ngModel)]="deposit.codban" (ionChange)="changeAccountNumber(deposit.codban)">
        <ion-option *ngFor="let bank of bank_list" [value]="bank.codban">{{bank.desban}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"deposits.bank_a_number"|translate}}</ion-label>
      <ion-input [(ngModel)]="bank_account_number" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"deposits.cash_and_check"|translate}}</ion-label>
      <ion-checkbox item-right [(ngModel)]="cash_and_check" color="primary" (ionChange)="changeCashAndCheck()"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="!cash_and_check">
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"deposits.reference_number"|translate}}</ion-label>
      <ion-input color="primary_light" [(ngModel)]="deposit.numref" type="number"></ion-input>
    </ion-item>

    <!--<ion-item *ngIf="show_check_a_number">
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.check_a_number"|translate}}</ion-label>
      <ion-input color="primary_light" [(ngModel)]="charge.ctachq" type="number"></ion-input>
    </ion-item>

    <ion-item *ngIf="show_check_number">
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.check_number"|translate}}</ion-label>
      <ion-input color="primary_light" [(ngModel)]="charge.numchq" type="number"></ion-input>
    </ion-item>

    <ion-item *ngIf="charge.divisa">
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.badge"|translate}}</ion-label>
      <ion-select color="primary_light" [(ngModel)]="charge.divisa">
        <ion-option [value]="charge.divisa">{{charge.divisa}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-badge class="badge_small_text" color="secondary">{{"charges.special_taxpayer"|translate}}</ion-badge>              
    </ion-item>-->

    <!--<ion-item *ngIf="account_state.cntesp">
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.document_number"|translate}}</ion-label>
      <ion-input color="primary_light" [(ngModel)]="charge.document_number" type="number"></ion-input>
    </ion-item>

    <ion-item *ngIf="account_state.cntesp">
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.retention_amount"|translate}}</ion-label>
      <ion-input color="primary_light" [(ngModel)]="charge.retention_amount" type="number"></ion-input>
    </ion-item>-->

  </ion-list>

  <ion-list class="custom-padding" no-margin *ngIf="charges.length > 0">
    <ion-list-header class="p_bold_text" no-margin>
      {{"deposits.charges_to_deposit"|translate}}
    </ion-list-header>


    <ion-item *ngFor="let charge of charges; let i = index">

      <!--<ion-item>-->

      <ion-label no-padding no-margin>
        <ion-item no-lines no-padding no-margin>
          <ion-icon color="secondary" name="list-box" item-left></ion-icon>
          <h2 class="p_bold_text">{{ charge.cobnum }}</h2>
          <h2 class="p_text">{{ charge.facnum }}</h2>
          <h2 class="p_text">{{ charge.montco | number:'1.2-2' }}</h2>
          <h2 class="p_text" [ngSwitch]="charge.metpag">
            <span *ngSwitchCase="0">Efectivo</span>
            <span *ngSwitchCase="1">Transferencia</span>
            <span *ngSwitchCase="2">Cheque</span>
            <span *ngSwitchCase="3">Deposito</span>
          </h2>
          <!--<h2 class="p_text">{{ charge.fechcr }} {{"charges.days"|translate}}</h2>-->
          <p>{{ charge.fechcr }}</p>
        </ion-item>
      </ion-label>
      <ion-checkbox item-right [(ngModel)]="charge.seleccionada" color="primary" ></ion-checkbox>

      <!--</ion-item>-->

      <!--<ion-item item-right>

          

        </ion-item>-->

    </ion-item>
  </ion-list>

  <ion-fab bottom right>
    <button (click)="makeDeposit()" ion-fab color="secondary">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-fab>

</ion-content>