<!--
  Generated template for the Detallarproducto page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{"product_details.title"|translate}}</ion-title>
    <!--<ion-buttons left>
      <button ion-button icon-only (click)="dismissPopUp()">
        <ion-icon name="arrow-back"></ion-icon>        
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content class="background">

  <ion-card>
    
    <ion-item>  
      <ion-badge item-left color="secondary">
        {{ nombre_producto[0] }}
      </ion-badge>
      <ion-icon [ngStyle]="{'color':primary_light}" name="nutrition" item-left></ion-icon>
      <h2 class="p_bold_text">
        {{ nombre_producto }}        
      </h2>
      <p>{{"product_details.code"|translate}} {{ codigo_producto }}</p>
    </ion-item>  
      
  </ion-card>

  <ion-card>
    <ion-list>

        <ion-item *ngIf="presentaciones.length == 0"> 
          presentaciones vacia
        </ion-item>
        
        <ion-item>
          <ion-icon name="calculator" item-left></ion-icon>
          <ion-label stacked>{{"product_details.quantity"|translate}}</ion-label>
          <ion-input color="primary_light" [(ngModel)]="quantity" [value]="quantity" type="number" min="1"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="browsers" item-left></ion-icon>
          <ion-label stacked>{{"product_details.presentation"|translate}}</ion-label>
          <ion-select color="primary_light" [(ngModel)]="presentacion" [disabled]="deshabilitar_presentacion">
            <ion-option *ngFor="let pre of presentaciones; let i = index" [value]="pre.coduni">{{ pre.desuni }}</ion-option>            
          </ion-select>
        </ion-item>      
               
    </ion-list>
  </ion-card>

  <div text-center>

    <button ion-button color="secondary" round (click)="addToBasket()">          
      {{"product_details.add"|translate}}
    </button>

  </div>

</ion-content>
