<!--
  Generated template for the ComprobanteRetencion page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{"charges.title"|translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="background">

  <ion-list class="custom-padding" no-margin>

    <ion-list-header class="p_bold_text" no-margin>
      <ion-row>
        <ion-col col-6>{{"charges.tax_retention"|translate}}</ion-col>
        <ion-col col-6 text-right>
          <button ion-button color="secondary" right outline small (click)="createComprobante()">
            {{"common.add"|translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-list-header>

    <ion-item *ngIf="charge.retention_amount">
      <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
      <ion-label stacked>{{"charges.retention_amount"|translate}}</ion-label>
      <ion-input color="primary_light" [(ngModel)]="charge.monret" type="number" readonly></ion-input>
    </ion-item>

    <ion-item-sliding *ngFor="let comprobante of comprobantes; let i = index">

      <ion-item>
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.document_number"|translate}}</ion-label>
        <ion-input color="primary_light" [(ngModel)]="comprobante.compnum"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
        <ion-label stacked>{{"charges.retention_amount"|translate}}</ion-label>
        <ion-input color="primary_light" [(ngModel)]="comprobante.montcomp"></ion-input>
      </ion-item>

      <ion-item-options side="right" icon-left>
        <button ion-button color="danger" (click)="deleteRetention(comprobante)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>    

  </ion-list>

  <ion-fab bottom right>
    <button (click)="confirmCharge()" ion-fab color="secondary">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-fab>


</ion-content>