<!--
  Generated template for the Agregarproducto page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  <ion-navbar color="primary">
    <ion-title>Articulos</ion-title>
    <!--<ion-buttons left>
      <button ion-button icon-only (click)="dismissPopUp()">
        <ion-icon name="arrow-back"></ion-icon>        
      </button>
    </ion-buttons>-->
    
  </ion-navbar>
  <ion-searchbar animated="true" autocomplete="on" placeholder="{{'common.search'|translate}}" (ionInput)="filterItems($event)"></ion-searchbar>

</ion-header>

<ion-content class="background" overflow-scroll='false'>
  <ion-list-header *ngIf=" (productos_vista.length == 0) && (productos_prio.length == 0)">
    No hay Productos asignados al cliente
  </ion-list-header>
  <ion-list *ngIf="productos_prio.length > 0">
        <ion-list-header>
          Prioridad
        </ion-list-header>
        <ion-card *ngFor="let producto of productos_prio; let i = index">
          <ion-item detail-push (click)="itemSelected($event, producto)">
            <!--<ion-avatar item-left class="avatar_bg">
                <h1 class="avatar_text_bg">{{ producto.despro[0] }}</h1>
            </ion-avatar>
            <ion-icon [ngStyle]="{'color':primary_light}" name="nutrition" item-left></ion-icon>
            <h2 text-wrap class="p_bold_text">{{ producto.despro }}</h2>
            <p>{{ producto.codpro }}</p>
            <p>Bs: {{ producto.prepro }}</p>-->
            <ion-badge item-left color="secondary">
                {{ producto.despro[0] }}
            </ion-badge>
            <ion-icon [ngStyle]="{'color':primary_light}" name="nutrition" item-left></ion-icon>
            <h2 text-wrap class="p_bold_text">{{ producto.despro }}</h2>
            <p>{{ producto.codpro }}</p>
            <p>Bs: {{ producto.prepro }}</p> 
          </ion-item>
        </ion-card>

  </ion-list>
  <ion-list *ngIf="productos_vista.length > 0">
        <ion-item> 
          Todos
        </ion-item>
        <ion-card *ngFor="let producto of productos_vista; let i = index">
          <ion-item detail-push (click)="itemSelected($event, producto)">
            <!--<ion-avatar item-left class="avatar_bg">
                <h1 class="avatar_text_bg">{{ producto.despro[0] }}</h1>
            </ion-avatar>
            <ion-icon [ngStyle]="{'color':primary_light}" name="nutrition" item-left></ion-icon>
            <h2 text-wrap class="p_bold_text">{{ producto.despro }}</h2>
            <p>{{ producto.codpro }}</p>
            <p>Bs: {{ producto.prepro }}</p>-->            
            <ion-badge class="avatar_text_bg" item-left color="secondary">
                {{ producto.despro[0] }}
            </ion-badge>
            <ion-icon [ngStyle]="{'color':primary_light}" name="nutrition" item-left></ion-icon>
            <h2 text-wrap class="p_bold_text">{{ producto.despro }}</h2>
            <p>{{ producto.codpro }}</p>
            <p>Bs: {{ producto.prepro }}</p>
          </ion-item>
        </ion-card>

  </ion-list>

  <ion-infinite-scroll *ngIf="productos_vista.length > 0" (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content
     loadingSpinner="bubbles"
     loadingText="Loading more data...">
   </ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
