<!--
  Generated template for the Cobranza page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{"charges.title"|translate}}</ion-title>
  </ion-navbar>

  <ion-list-header class="p_bold_text" no-margin>
    {{"charges.invoices_to_charge"|translate}}
  </ion-list-header>

</ion-header>


<ion-content class="background">

  <ion-list class="custom-padding" no-margin *ngIf="available_invoices.length > 0">

    <ion-card *ngFor="let invoice of available_invoices; let i = index">



      <ion-item>

        <ion-label no-padding no-margin>
          <ion-item no-lines no-padding no-margin>
            <ion-icon color="secondary" name="list-box" item-left></ion-icon>
            <h2 class="p_bold_text">{{ invoice.header.facnum }}</h2>
            <h2 class="p_text">{{ invoice.header.salfac | number:'1.2-2' }}</h2>
            <p>{{ invoice.header.diasve }} {{"charges.days"|translate}}</p>
            <p>{{ invoice.header.fecfac }}</p>
            <p>{{ invoice.header.salcob | number:'1.2-2' }}</p>
            <button ion-button color="secondary" right outline (click)="addChargeXInvoice(invoice.header, i)">
              {{"common.add"|translate}} {{"charges.charge"|translate}}
            </button>
          </ion-item>
        </ion-label>
        <!--<ion-checkbox item-right [(ngModel)]="invoice.seleccionada" color="primary" (ionChange)="changeInvoiceChecked(invoice)"></ion-checkbox>-->

      </ion-item>

      <!--<ion-item item-right>
          
                    
          
                  </ion-item>-->

      <ion-list>


        <ion-list class="custom-padding" *ngFor="let charge of invoice.charges; let j = index">

          <ion-list-header class="p_bold_text" no-margin>
            {{"charges.charge"|translate}} {{ j + 1 }}
          </ion-list-header>

          <ion-item>
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.charge_amount"|translate}}</ion-label>
            <ion-input color="primary_light" [(ngModel)]="charge.montco" type="number" (keyup)="sumChargedAmount(i)" required></ion-input>
          </ion-item>


          <ion-item>
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.payment_method"|translate}}</ion-label>
            <ion-select color="primary_light" [(ngModel)]="charge.metpag" (ionChange)="changePaymentMethod(i, j)">
              <ion-option value="0">{{"charges.cash"|translate}}</ion-option>
              <ion-option value="1">{{"charges.transfer"|translate}}</ion-option>
              <ion-option value="2">{{"charges.check"|translate}}</ion-option>
              <ion-option value="3">{{"charges.deposit"|translate}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="charge.metpag == 1 || charge.metpag == 3 || charge.metpag == 2">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.bank"|translate}}</ion-label>
            <ion-select color="primary_light" [(ngModel)]="charge.codban">
              <ion-option *ngFor="let bank of bank_list" [value]="bank.codban">{{bank.desban}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="charge.metpag == 1 || charge.metpag == 3">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.reference"|translate}}</ion-label>
            <ion-input color="primary_light" [(ngModel)]="charge.referc" type="number"></ion-input>
          </ion-item>

          <ion-item *ngIf="charge.metpag == 2">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.check_a_number"|translate}}</ion-label>
            <ion-input color="primary_light" [(ngModel)]="charge.ctachq" type="number"></ion-input>
          </ion-item>

          <ion-item *ngIf="charge.metpag == 2">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.check_number"|translate}}</ion-label>
            <ion-input color="primary_light" [(ngModel)]="charge.numchq" type="number"></ion-input>
          </ion-item>

          <ion-item *ngIf="charge.divisa">
            <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
            <ion-label stacked>{{"charges.badge"|translate}}</ion-label>
            <ion-select color="primary_light" [(ngModel)]="charge.divisa">
              <ion-option [value]="charge.divisa">{{charge.divisa}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-row margin>
            <ion-col>
              <button ion-button color="danger" icon-start clear small (click)="deleteChargeXInvoice(i, j)">
                <ion-icon name="trash"></ion-icon>
                <div>  {{"common.delete"|translate}}</div>
              </button>
            </ion-col>
          </ion-row>


          <!--
                              
                              
                              <ion-item *ngIf="account_state.cntesp">
                              <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
                              <ion-label stacked>{{"charges.document_number"|translate}}</ion-label>
                              <ion-input color="primary_light" [(ngModel)]="charge.document_number" type="number"></ion-input>
                            </ion-item>
                        
                            <ion-item *ngIf="account_state.cntesp">
                              <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
                              <ion-label stacked>{{"charges.retention_amount"|translate}}</ion-label>
                              <ion-input color="primary_light" [(ngModel)]="charge.retention_amount" type="number"></ion-input>
                            </ion-item>
      
                            <ion-item>
                                <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
                                <ion-label stacked>{{"charges.invoices_amount"|translate}}</ion-label>
                                <ion-input color="primary_light" [(ngModel)]="invoices_amount" type="number" readonly></ion-input>
                              </ion-item>
      
                            <ion-item>
                              <ion-icon color="secondary" name="ios-checkmark" item-left></ion-icon>
                              <ion-badge class="badge_small_text" color="secondary">{{"charges.special_taxpayer"|translate}}</ion-badge>              
                            </ion-item>
                          
                          
                          -->



        </ion-list>

      </ion-list>




    </ion-card>

  </ion-list>

  <ion-fab bottom right>
    <button (click)="makeCharge()" ion-fab color="secondary">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-fab>

</ion-content>