<!--
  Generated template for the PedidoMain page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{"billing.title"|translate}}</ion-title>

  </ion-navbar>

  <ion-segment [(ngModel)]="fase" color="primary">
    <ion-segment-button value="open">
      <ion-icon name="basket"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="closed">
      <ion-icon name="checkmark"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="printed">
      <ion-icon name="print"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="synced">
      <ion-icon name="cloud-done"></ion-icon>
    </ion-segment-button>
  </ion-segment>

</ion-header>


<ion-content class="background">

  <div [ngSwitch]="fase">

    <div *ngSwitchCase="'open'">

      <ion-list>

        <ion-item *ngIf="open_facturas.length == 0" class="background Absolute-Center">

          <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
          <!--<br /><br /><br /><br /><br /><br />-->
          <ion-thumbnail>
            <img class="center-image" src="assets/img/clipboard-papers.png">
          </ion-thumbnail>
          <br />
          <br />
          <p class="p_big_text" text-center>
            {{"billing.no_open_bills"|translate}}
          </p>

        </ion-item>

        <ion-card *ngFor="let factura of open_facturas; let i = index">
          <ion-item-sliding>

            <ion-item detail-push (click)="goToFactura(factura)">
              <ion-icon name="cart" item-left></ion-icon>
              <h2 class="p_bold_text">{{ factura.ordpes }}</h2>
              <p>{{ factura.fechcr }}</p>
              <p item-right color="secondary">{{"main_order.open"|translate}}</p>
              <!--<ion-icon *ngIf="pedido.ispdv == 'true'" name="thumbs-up" color="secondary"></ion-icon>
                  <ion-icon *ngIf="pedido.ispdv == 'false'" name="thumbs-down" color="danger"></ion-icon>-->
            </ion-item>

            <ion-item-options side="right" icon-left>
              <button ion-button color="danger" (click)="openRemoveOrderConfirmation(factura)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>


          </ion-item-sliding>
        </ion-card>

      </ion-list>

    </div>

    <div *ngSwitchCase="'closed'">

      <ion-list>

        <ion-item *ngIf="closed_facturas.length == 0" class="background Absolute-Center">

          <!--<br /><br /><br /><br /><br /><br />-->
          <ion-thumbnail>
            <img class="center-image" src="assets/img/clipboard-papers.png">
          </ion-thumbnail>
          <br />
          <br />
          <p class="p_big_text" text-center>
            {{"billing.no_closed_bills"|translate}}
          </p>

        </ion-item>

        <ion-card *ngFor="let factura of closed_facturas; let i = index">
          <ion-item-sliding>

            <ion-item detail-push (click)="goToFacturaClosed(factura)">
              <ion-icon [ngStyle]="{'color':primary_light}" name="cart" item-left></ion-icon>
              <h2 class="p_bold_text">{{ factura.ordpes }}</h2>
              <p>{{ factura.fechcr }}</p>
              <p item-right color="secondary">{{"main_order.closed"|translate}}</p>
            </ion-item>

            <ion-item-options side="right" icon-left>
              <button ion-button color="danger" (click)="openRemoveOrderConfirmation(factura)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>


          </ion-item-sliding>
        </ion-card>


      </ion-list>
    </div>

    <div *ngSwitchCase="'synced'">

      <ion-list>

        <ion-item *ngIf="synced_facturas.length == 0" class="background Absolute-Center">

          <!--<br /><br /><br /><br /><br /><br />-->
          <ion-thumbnail>
            <img class="center-image" src="assets/img/clipboard-papers.png">
          </ion-thumbnail>
          <br />
          <br />
          <p class="p_big_text" text-center>
            {{"billing.no_synced_bills"|translate}}
          </p>

        </ion-item>

        <ion-card *ngFor="let factura of synced_facturas; let i = index">
          <!--<ion-item-sliding>-->

          <ion-item detail-push (click)="goToFacturaSynced(factura)">
            <ion-icon [ngStyle]="{'color':primary_light}" name="cart" item-left></ion-icon>
            <h2 class="p_bold_text">{{ factura.nfact }}</h2>
            <p>{{ factura.fechcr }}</p>
            <p item-right color="secondary">{{"main_order.synced"|translate}}</p>
          </ion-item>

          <!--<ion-item-options side="right" icon-left>            
                  <button ion-button color="danger" (click)="openDeleteConfirmation(pedido)">
                      <ion-icon name="trash"></ion-icon>                  
                  </button>
              </ion-item-options>
            

            </ion-item-sliding>-->
        </ion-card>


      </ion-list>
    </div>

    <div *ngSwitchCase="'printed'">

      <ion-list>

        <ion-item *ngIf="printed_facturas.length == 0" class="background Absolute-Center">

          <!--<br /><br /><br /><br /><br /><br />-->
          <ion-thumbnail>
            <img class="center-image" src="assets/img/clipboard-papers.png">
          </ion-thumbnail>
          <br />
          <br />
          <p class="p_big_text" text-center>
            {{"billing.no_printed_bills"|translate}}
          </p>

        </ion-item>

        <ion-card *ngFor="let factura of printed_facturas; let i = index">
          <ion-item-sliding>

            <ion-item detail-push (click)="goToFacturaPrinted(factura)">
              <ion-icon [ngStyle]="{'color':primary_light}" name="cart" item-left></ion-icon>
              <h2 class="p_bold_text">{{ factura.nfact }}</h2>
              <p>{{ factura.fechcr }}</p>
              <p item-right color="secondary">{{"main_order.printed"|translate}}</p>
              <ion-icon *ngIf="factura.facfas == 9" [ngStyle]="{'color':favorite}" name="cloud-upload" item-left></ion-icon>
            </ion-item>

            <ion-item-options side="right" icon-left>
              <button ion-button color="danger" (click)="openCancelConfirmation(factura)">
                <ion-icon name="close"></ion-icon>
              </button>
              <button ion-button color="favorite" (click)="openSyncConfirmation(factura)">
                <ion-icon name="cloud-upload"></ion-icon>
              </button>
            </ion-item-options>

          </ion-item-sliding>
        </ion-card>


      </ion-list>
    </div>

  </div>

  <!--<ion-fab bottom right>
      <button *ngIf="fase == 'open'" (click)="goToFacturaCrear()" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>-->

</ion-content>