<ion-header>

  <ion-navbar color="primary">

    <ion-title>{{"billing.invoices"|translate}}</ion-title>      
      
  </ion-navbar>  

  <ion-searchbar animated="true" autocomplete="on" color="primary" placeholder="{{'common.search'|translate}}" (ionInput)="filterItems($event)"></ion-searchbar>


</ion-header>


<ion-content class="background">

  <div *ngIf="working" class="spinner-container">
      <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-list>

    <ion-item *ngIf="facturas.length == 0" class="background Absolute-Center">           
            
        <!--<ion-img width="80" height="80" src="img/clipboard-papers.png"></ion-img>-->
        <!--<br /><br /><br /><br /><br /><br />-->
        <ion-thumbnail>
          <img class="center-image" src="assets/img/clipboard-papers.png">
        </ion-thumbnail><br /><br />
        <p class="p_big_text" text-center> 
          {{"billing.no_open_invoices"|translate}}
        </p>

    </ion-item>      
    
    <ion-card *ngFor="let factura of facturas; let i = index">
      <ion-item-sliding>
        <ion-item detail-push (click)="goToFactura(factura)">
            
            <ion-icon name="list-box" item-left></ion-icon>
            <h2  text-wrap class="p_bold_text">{{"billing.invoice_upper"|translate}} {{ factura.facnum }}</h2>
            <p>{{ factura.fechcr }}</p>

        </ion-item>
        
        <ion-item-options side="right" icon-left>            
          <button ion-button color="danger" (click)="openRemoveOrderConfirmation(factura)">
            <ion-icon name="trash"></ion-icon>                  
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-card>

    
  </ion-list>

  <ion-fab bottom right>
      <button (click)="goToFacturaCrear()" ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
