page-lista-facturas {

    .p_bold_text{

        font-weight: bold;
        color: #5A738E;


    }

    .p_italic_text{

        color:#5A738E;
        font-size: 14px;
    }

    .footer_tuning{
        background-color: #387ef5;

    }

    .background{

        background-color: #ededed;

    } 

    .item_background{

        background-color: #2A3F54;
    }

    .p_white_text{

        color:#ffffff;
    }

    .avatar_bg{

        background-color: #26B99A;

    }

    .avatar_text_bg{

        font-size: 20px;                     

    }

    .p_big_text{

        font-size: 1.3em;
        color: #AFAFAF;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }

    .p_bg_text{

        color: white;
        background-color:#2A3F54; 

    }

    .center-image{
      margin:0 auto;
      max-width: 80px !important;
      max-height: 80px !important;
    }

    .Absolute-Center {
        width: 100%;
        height: 100%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }

}
